{% extends "base.html" %}

{% block content %}

<h2>All Students</h2>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Roll Number</th>
<th>Name</th>
<th>Course</th>
<th>CGPA</th>
</tr>
<form method="GET" action="/admin/search_students">

<input type="text" name="q" placeholder="Search student">

<button class="btn btn-primary btn-sm">
Search
</button>

</form>
{% for s in students %}

<tr>
<td>{{ s.id }}</td>
<td>{{ s.roll_number }}</td>
<td>{{s.name}}</td>
<td>{{ s.course }}</td>
<td>{{ s.cgpa }}</td>
</tr>

{% endfor %}

</table>


{% endblock %}
