{% extends "base.html" %}

{% block content %}

<h2>Student Applications</h2>

<table class="table table-bordered">

<tr>
<th>Name</th>
<th>Roll</th>
<th>Course</th>
<th>CGPA</th>
<th>Status</th>
<th>Action</th>
</tr>
<td>{{ s.status }}</td>

<td>

<a href="/company/update_application/{{ s.id }}/Shortlisted"
class="btn btn-warning btn-sm">
Shortlist
</a>

<a href="/company/update_application/{{ s.id }}/Selected"
class="btn btn-success btn-sm">
Select
</a>

<a href="/company/update_application/{{ s.id }}/Rejected"
class="btn btn-danger btn-sm">
Reject
</a>

</td>
{% for s in students %}

<tr>
<td>{{ s.name }}</td>
<td>{{ s.roll }}</td>
<td>{{ s.course }}</td>
<td>{{ s.cgpa }}</td>
<td>{{ s.status }}</td>
</tr>

{% endfor %}

</table>


{% endblock %}

