{% extends "base.html" %}

{% block content %}
drives = PlacementDrive.query.filter_by(company_id=company.id).all()

drive_data = []

for drive in drives:

    count = Application.query.filter_by(drive_id=drive.id).count()

    drive_data.append({
        "drive": drive,
        "count": count
    })

return render_template(
    "company_dashboard.html",
    drives=drive_data
)

<h2>Company Dashboard</h2>

<a href="/company/create_drive" class="btn btn-primary mb-3">
Create Placement Drive
</a>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Job Title</th>
<th>Status</th>
</tr>

{% for drive in drives %}

<tr>

<td>{{ drive.id }}</td>
<td>{{ drive.job_title }}</td>
<td>{{ drive.status }}</td>

</tr>

{% endfor %}

</table>


{% endblock %}
