{% extends "base.html" %}

{% block content %}
<h2>Company Registration</h2>

<form method="POST">

<div class="mb-3">
<label>Company Name</label>
<input type="text" name="company_name" class="form-control" required>
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control" required>
</div>

<div class="mb-3">
<label>Password</label>
<input type="password" name="password" class="form-control" required>
</div>

<div class="mb-3">
<label>HR Contact</label>
<input type="text" name="hr" class="form-control">
</div>

<div class="mb-3">
<label>Website</label>
<input type="text" name="website" class="form-control">
</div>

<button class="btn btn-primary">Register Company</button>

</form>
{% endblock %}